<a href='/tweetform/'>Make a post</a>
<a href='/registeruserform/'>Make an Account</a>
<a href='/notifications/'>My Notifications{{ notify_count }}</a>
<a href='/user/{{ user.twitteruser.id }}'>My Profile</a>
<a href='/login/'>Login</a>
<a href='/logout/'>Logout</a>

<ul style='list-style:none'>
    {% for data in all_tweets %}
        <li>
            <a href='/user/{{ data.twitter_user.id }}/'>{{ data.twitter_user }}</a>
        </li>
        <li>
            <a href='/tweet/{{ data.id }}/'>{{ data.posts }}</a>
        </li>
        <li>{{data.post_date}}</li>
    {% endfor %}
</ul>